<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h5 class="mt-4 mb-3 fas fa-user-edit"> 登録情報編集</h5>
      <%= form_with model:@patient, url: patient_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <table class="table-sm">
          <tr><td>氏名</td><td><%= f.text_field :last_name, autofocus: true %></td><td>　<%= f.text_field :first_name, autofocus: true %></td></tr>
          <tr><td>カナ</td><td><%= f.text_field :last_name_kana, autofocus: true %></td><td>　<%= f.text_field :first_name_kana, autofocus: true %></td></tr>
          <tr><td>生年月日</td><td><%= f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10) %></td></tr>
          <tr><td>性別</td><td><%= f.radio_button :sex, :男性 %><%= f.label :男性 %><%= f.radio_button :sex, :女性 %><%= f.label :女性 %></td></tr>
          <tr><td>郵便番号</td><td><%= f.text_field :postal_code, autofocus: true %></td></tr>
          <tr><td>住所</td><td colspan="2"><%= f.text_area :address, autofocus: true, size:"45x1" %></td></tr>
          <tr><td>電話番号</td><td><%= f.text_field :tel, autofocus: true %></td></tr>
          <tr><td>メールアドレス　</td><td><%= f.text_field :email, autofocus: true %></td></tr>
          <tr>
            <td></td>
            <td><%= f.submit '編集内容を保存', class: "btn btn-outline-success" %></td>
            <td><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#unsubscribe">退会する</button></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="unsubscribe" tabindex="-1" role="dialog" aria-labelledby="unsubscribeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="unsubscribeLabel">退会確認</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>本当に退会しますか？</h5>
        <p>退会すると、患者登録情報や<br/>
        これまでの受診履歴が閲覧出来ず、<br/>
        Webでの当日受付と予約することが出来ません。<br/>
        退会する場合は、<strong>「退会する」</strong>をクリックしてください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">退会しない</button>
        <%= button_to '退会する', withdraw_patient_path(@patient.id), method: :patch, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>