<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="mb-3 fas fa-running"> 当日受付確認</h5>
      <% if "09:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "12:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri|Sat/).size > 0 || "15:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "18:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri/).size > 0 %>
      <%= form_with model: @new_reception, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <table class="table-sm">
          <tr>
            <td><h6>患者氏名</h6></td>
            <td><%= current_patient.last_name %>　<%= current_patient.first_name %>　様</td>
          </tr>
          <tr>
            <td><h6>あなたの順番</h6></td>
            <td><%= f.text_field :number, readonly: true %>番目</td>
          </tr>
          <tr>
            <td><h6>受診開始予定時間</h6></td>
            <td><%= f.text_field :start_time, value: l(@new_reception.start_time), readonly: true %>ころ</td>
          </tr>
          <%= f.hidden_field :patient_id %>
          <%= f.hidden_field :congestion_id %>
          <%= f.hidden_field :examination_status, value: '発行済' %>
          <tr>
            <td></td><td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#new_reception">最終確認へ</button></td>
          </tr>
        </table>
    </div>
  </div>
</div>
<div class="modal fade" id="new_reception" tabindex="-1" role="dialog" aria-labelledby="new_receptionLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="new_receptionLabel">最終確認</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5><注意事項></h5>
        <p>・順番がすぎた場合、当整理券は無効となりますのでご注意ください</p>
        <p>・受診時間が後ろ倒しになる可能性がありますことをご了承ください</p>
        <p>・ご来院時に内容の確認できるものをご提示ください</p>
        <p>・初診の方は受診10分前にはご来院ください</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">当日受付中止</button>
        <%= f.submit '当日受付確定', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% else %>
<h6>現在、受付対応時間外です。<br/>
平日9:00-13:00、15:00-19:00、<br/>
土曜9:00-13:00に再度受付をお願いします。</h6>
<% end %>