<div class="container mt-2">
  <div class="row">
    <div class="col-md-6 offset-3">
      <h5 class="mt-5 mr-0 mb-3 fas fa-lock-open"> ログイン</h5><br/>
      <h6 class="mb-3">登録済の方はこちらからログイン</h6>
      <%= form_with model: @patient, url: patient_session_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <table class="table-sm ml-5">
          <tbody class="mt-3">
            <tr>
              <td>メールアドレス</td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40x1" %></td>
            </tr>
            <tr>
              <td>パスワード</td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: "40x1" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class:"btn btn-primary mt-3" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <h6 class="mt-5">会員登録がお済みでない方</h6>
      <p class="ml-5"><%= link_to ' こちら', new_patient_registration_path, class: "fas fa-lock" %>　から新規登録を行ってください。</p>
      <h6 class="mt-5">パスワードを忘れた方</h6>
      <p class="ml-5"><%= link_to ' こちら', new_patient_password_path, class: "fas fa-key" %>　からパスワードを行ってください。</p>
    </div>
  </div>
</div>
