<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h3 class="d-flex" style="color: #FF00FF;"><strong>ライフスタイルに合わせて簡単Web予約をしよう！</strong></h3>
    </div>
  </div>
</div>
<div class="main-container container-fluid mt-4">
  <div class="row">
    <div class="col-md-5 ml-5">
      <h5 class="fas fa-running mb-4"> 当日受診の場合</h5><br/>
      <a><%= image_tag 'orientation1.png', size: '500x500' %></a>
      <h5 class="mt-4"> <strong>現在の待ち状況</strong></h5>
      <% if "09:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "12:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri|Sat/).size > 0 || "15:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "18:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri/).size > 0 %>
      <h6><%= @congestion.updated_at.strftime("%m/%d %H:%M") %>現在</h6>
        <table class="table table-bordered">
          <thead class="thead-light">
            <tr>
              <th>待ち人数（人）</th>
              <th>待ち時間（分）</th>
              <th>受診予定日時</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @congestion.count %></td>
              <td><%= @congestion.time %></td>
              <td><%= l(DateTime.current + Rational(1 * @congestion.time, 24 * 60)) %></td>
            </tr>
          </tbody>
        </table>
        <% else %>
        <h6>現在、受付対応時間外です。<br/>
        平日9:00-13:00、15:00-19:00、<br/>
        土曜9:00-13:00に再度受付をお願いします。</h6>
        <% end %>
        <h6 class="mt-5">当日受付をご希望の方</h6>
        <h5 class="mt-3"><%= link_to ' 整理券発行ページへ', new_reception_path, class: "fas fa-running" %></h5>
        <div class="container ml-5 mt-5">
          <div class="row">
            <div class="col-md-12">
             <table>
              <td><h5><%= link_to ' 新規登録', new_patient_registration_path, class: "fas fa-lock btn-lg btn-success ml-5" %></h5></td>
              <td><h5><%= link_to ' ログイン', patient_session_path, method: :post, class: "fas fa-lock-open btn-lg btn-primary ml-5" %></h5></td>
             </table>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6 ml-1">
      <h5 class="fas fa-user-clock mb-4">予約の場合</h5><br/>
      <a><%= image_tag 'orientation2.png', size: '500x500' %></a>
      <div class="mt-3 mb-5" id="calendar"></div>
    </div>
  </div>
</div>
<div class="modal" id="new_reservation" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新規予約</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group field">
          <%= form_with model: @reservation, url: confirm_reservations_path(@reservation), local: true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :start_time, "受診開始時間", class: "form-control-label"%>
                <span class="badge badge-danger">入力不可</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :start_time, class: "form-control input-start"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :end_time, "受診終了時間", class: "form-control-label"%>
                <span class="badge badge-danger">入力不可</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :end_time, class: "form-control input-end"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :examination_count, "受診回数", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.select :examination_count, Reservation.examination_counts.keys, include_blank: "選択して下さい", class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :symptom, "症状", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_area :symptom, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :body_parts, "身体部位", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :body_parts, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :starting_point, "症状日", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.date_field :starting_point, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :treatment, "治療の有無", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.select :treatment, Reservation.treatments.keys, include_blank: "選択して下さい", class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :prescription, "処方中の薬", class: "form-control-label"%>
                <span class="badge badge-primary">任意</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :prescription, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :side_effect, "副作用の有無", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.select :side_effect, Reservation.side_effects.keys, include_blank: "選択して下さい", class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :other_diseases, "他の病気", class: "form-control-label"%>
                <span class="badge badge-primary">任意</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :other_diseases, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :hospital_name, "病院名", class: "form-control-label"%>
                <span class="badge badge-primary">任意</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_area :hospital_name, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :pregnancy, "妊娠の有無", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.select :pregnancy, Reservation.pregnancies.keys, include_blank: "選択して下さい", class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :purpose, "受診目的", class: "form-control-label"%>
                <span class="badge badge-danger">必須</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.select :purpose, Reservation.purposes.keys, include_blank: "選択して下さい", class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :request, "医師への要望", class: "form-control-label"%>
                <span class="badge badge-primary">任意</span>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_area :request, class: "form-control"%>
                </div>
              </div>
              <%= f.hidden_field :examination_status, {value: '受診前'} %>
            </div>
            <div class="modal-footer actions">
              <%= f.submit "予約確認へ", class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
