<div class="container mt-3">
  <div class="row">
    <div class="col-md-3 offset-3">
    <h5 class="fas fa-microphone">お知らせ詳細</h5>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 offset-3">
      <table class="table-sm table-striped">
        <tr>
          <td nowrap><h6>投稿日時</h6></td>
          <td><%= @information.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
        <tr>
          <td nowrap><h6>テーマ</h6></td>
          <td><%= @information.theme.name %></td>
        </tr>
        <tr>
          <td nowrap><h6>投稿画像</h6></td>
          <td data-toggle="modal" data-target="#image_modal-<%= @information.id %>">
            <%= attachment_image_tag @information, :image, fallback: "no_image.jpg", size: "160x200" %>
          </td>
        </tr>
        <tr>
          <td nowrap><h6>件名</h6></td>
          <td><%= @information.subject %></td>
        </tr>
        <tr>
          <td nowrap><h6>本文</h6></td>
          <td><%= @information.body %></td>
        </tr>
        <tr>
          <td><td><%= link_to 'お知らせの編集', edit_admin_information_path(@information.id), class: "btn btn-sm btn-outline-success" %></td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="image_modal-<%= @information.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <%= attachment_image_tag @information, :image, fallback: "no_image.jpg", size: "240x200" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>