<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h5 class="mt-5 fas fa-medkit"> 予約内容詳細</h5><br />
      <table class="table-sm">
        <tr>
          <% if @reservation.start_time.strftime("%Y-%m-%d") > Time.current.strftime("%Y-%m-%d") %>
          <td><%= link_to '予約内容更新', edit_reservation_path, class:"btn btn-sm btn-outline-primary" %></td>
          <td><button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#reservation_cancel">予約キャンセル</button></td>
          <% end %>
         </tr>
      </table>
      <table class="table-sm table-bordered">
        <tr><td class="table-active">受診開始時間</td><td><%= l @reservation.start_time %></td></tr>
        <tr><td class="table-active">受診回数</td><td><%= @reservation.examination_count %></td></tr>
        <tr><td class="table-active">症状</td><td><%= @reservation.symptom %></td></tr>
        <tr><td class="table-active">身体部位</td><td><%= @reservation.body_parts %></td></tr>
        <tr><td class="table-active">症状日</td><td><%= @reservation.starting_point.strftime("%Y/%m/%d") %></td></tr>
        <tr><td class="table-active">治療の有無</td><td><%= @reservation.treatment %></td></tr>
        <tr><td class="table-active">処方中の薬</td><td><%= @reservation.prescription %></td></tr>
        <tr><td class="table-active">副作用の有無</td><td><%= @reservation.side_effect %></td></tr>
        <tr><td class="table-active">他の疾患</td><td><%= @reservation.other_diseases %></td></tr>
        <tr><td class="table-active">かかりつけ病院</td><td><%= @reservation.hospital_name %></td></tr>
        <tr><td class="table-active">妊娠の有無</td><td><%= @reservation.pregnancy %></td></tr>
        <tr><td class="table-active">受診目的</td><td><%= @reservation.purpose %></td></tr>
        <tr><td class="table-active">医師への要望</td><td><%= @reservation.request %></td></tr>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="reservation_cancel" tabindex="-1" role="dialog" aria-labelledby="reservation_cancelLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="reservation_cancelLabel">キャンセル確認</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>本当にキャンセルしますか？</h5>
        <p>キャンセルが確定すると、<br/>
        同日時での予約が出来なくなる場合があります。<br/>
        キャンセルする場合は、<strong>「キャンセルする」</strong>をクリックしてください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">キャンセルしない</button>
        <%= button_to 'キャンセルする', reservation_path(@reservation.id), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>