<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% if @examination.reception_id.nil? %>
      <h4 class="mt-4 mb-4"><strong><%= @examination.reservation.patient.last_name + @examination.reservation.patient.first_name %>さんの受診履歴編集</strong></h4>
      <% else %>
      <h4 class="mt-4 mb-4"><strong><%= @examination.reception.patient.last_name + @examination.reception.patient.first_name %>さんの受診履歴編集</strong></h4>
      <% end %>
        <div class="row">
          <div class="col-4">
            <div class="d-flex justify-content-start"><strong>受診ID</strong><p><%= @examination.id %></p></div>
              <%= form_with model: @examination, url: admin_examination_path(@examination.id), local: true do |f| %>
                <h6>診断</h6>
                  <div class="d-flex justify-content-start"><%= f.text_field :diagnosis %></div>
                <h6>処置</h6>
                  <div class="d-flex justify-content-start"><%= f.text_field :treatment %></div>
                <h6>処方箋の有無</h6>
                  <div class="d-flex justify-content-start"><%= f.select :prescription_status, Examination.prescription_statuses.keys, include_blank: "選択して下さい" %></div>
                <h6>処方箋内容</h6>
                  <div class="d-flex justify-content-start"><%= f.text_field :prescription_name %></div>
                <h6>入力ステータス</h6>
                  <div class="d-flex justify-content-start">
                    <p><%= f.select :update_status, Examination.update_statuses.keys %></p>
                  </div>
                <%= f.submit'受診内容を保存する', class: "btn btn-sm btn-success" %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
