<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h5 class="mb-2 fas fa-running"> 患者表示</h5>
      <% if "09:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "12:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri|Sat/).size > 0 || "15:00" < Time.current.strftime("%H:%M") && Time.current.strftime("%H:%M") < "18:59" && Time.current.strftime("%a").scan(/Mon|Tue|Wed|Thu|Fri/).size > 0 %>
      <h6><%= @congestion.updated_at.strftime("%m/%d %H:%M") %>現在</h6>
      <table class="table-sm table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th>待ち人数（人）</th>
            <th>待ち時間（分）</th>
            <th>受診予定日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @congestion.count %></td>
            <td><%= @congestion.time %></td>
            <td><%= l(DateTime.current + Rational(1 * @congestion.time, 24 * 60)) %></td>
          </tr>
        </tbody>
      </table>
      <% else %>
      <h6>現在、受付対応時間外です。<br/>
      平日9:00-13:00、15:00-19:00、<br/>
      土曜9:00-13:00に再度受付をお願いします。</h6>
      <% end %>
      <h5 class="mt-5 mb-2 fas fa-stopwatch"> 管理者更新</h5><h6><%= l @congestion.updated_at %>現在</h6>
      <table class="table-sm table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th>待ち人数（人）</th>
            <th>待ち時間（分）</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= form_with model: @congestion, url: admin_congestion_path(@congestion.id), local: true do |f| %>
          <tr>
            <td><%= f.number_field :count, min: 0 %></td>
            <td><%= f.number_field :time, value: @congestion.count * 20, readonly: true %></td>
            <td><%= f.submit "更新", class: "btn btn-sm btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <h5 class="mb-2 fas fa-running"> 当日受付一覧</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>受診開始日時</th>
            <th>受付作成日時</th>
            <th>患者ID</th>
            <th>患者氏名</th>
            <th>性別</th>
            <th>受診ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @receptions.each do |reception| %>
        <tr>
          <td><%= link_to l(reception.start_time), admin_reception_path(reception.id) %></td>
          <td><%= l reception.created_at %></td>
          <td><%= reception.patient.id %></td>
          <td><%= reception.patient.last_name + reception.patient.first_name %></td>
          <td><%= reception.patient.sex %></td>
          <td>
            <%= form_with model: reception, url: admin_reception_path(reception.id), local: true do |f| %>
              <%= f.select :examination_status, Reception.examination_statuses.keys %>
              <%= f.submit "変更", class:"btn btn-sm btn-success"%>
            <% end %>
          </td>
          <td><%= button_to '取り消し', admin_reception_path(reception.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @receptions %>
      <h5 class="mt-4 mb-2 fas fa-user-clock"> 本日予約一覧</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>受診開始日時</th>
            <th>予約作成日時</th>
            <th>患者ID</th>
            <th>患者氏名</th>
            <th>性別</th>
            <th>受診ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @reservations.each do |reservation| %>
        <tr>
          <td><%= link_to l(reservation.start_time), admin_reservation_path(reservation.id) %></td>
          <td><%= l reservation.created_at %></td>
          <td><%= reservation.patient.id %></td>
          <td><%= reservation.patient.last_name + reservation.patient.first_name %></td>
          <td><%= reservation.patient.sex %></td>
          <td>
            <%= form_with model: reservation, url: admin_reservation_path(reservation.id), local: true do |f| %>
              <%= f.select :examination_status, Reservation.examination_statuses.keys %>
              <%= f.submit "変更", class: "btn btn-sm btn-success"%>
            <% end %>
          </td>
          <td><%= button_to '取り消し', admin_reservation_path(reservation.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
        <% end %>
      </table>
      <%= paginate @reservations %>
    </div>
  </div>
</div>