<div class="col-md-10 offset-md-1">
  <h5 class="ml-5 mb-5">当日受付一覧画面</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>受診開始日時</th>
        <th>受付作成日時</th>
        <th>患者ID</th>
        <th>患者氏名</th>
        <th>性別</th>
        <th>受診ステータス</th>
        <th></th>
      </tr>
    </thead>
    <% @receptions.each do |reception| %>
    <tr>
      <td>
        <%= link_to admin_reception_path(reception.id) do %>
          <%= reception.start_time.strftime("%Y/%m/%d %H:%M") %>
        <% end %>
      </td>
      <td><%= reception.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= reception.patient.id %></td>
      <td><%= reception.patient.last_name + reception.patient.first_name %></td>
      <td><%= reception.patient.sex %></td>
      <td>
        <%= form_with model: reception, url: admin_reception_path(reception.id), local: true do |f| %>
          <%= f.select :examination_status, Reception.examination_statuses.keys %>
          <%= f.submit "変更", class: "btn btn-sm btn-success"%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate @receptions %>
</div>
